/* Common
----------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* HEADER
----------------------------------------------- */
.wrapper{
  /* max-width: 1100px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 0 4%; */
}

/* #header-id {
  height: 200px;
} */

.page-header{
  padding: 20px 10% 15px;
  text-align: center;
  color: #555;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1.0);
  /*background-color: #32A9C2;*/
  position:fixed;
  font-family: Arial;
  border-bottom: 1px solid #32a9c2
}

/* .inner-box{
  background-color: #fff;
} */

/* 親要素(コンテナ) */
.flex-container {
  /* background-color: #dfdfdf;*/
  padding: 3% 0 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  
}
/*駅名*/
.font-biggest {
  font-size: 1.75em;
  font-family: "Arial Black";
  line-height: 1.3em;
  padding-bottom: 0.89%;
}
.font-departure {
  font-size: smaller;
  color: #999;
  border-bottom: solid 3px #999;
  display: inline-block;
}
/* 大きめのフォント*/
.font-bigger {
  font-size: larger;
}
/* 小さめのフォント*/
.font-smaller {
  font-size: smaller;
  color: #999;
  line-height: 0.9em;
}
/* 遅れのフォント*/
.font-delay {
  font-size: larger;
  color: #ff5f76;
}
/* 子要素(アイテム) */
.flex-item-big {
	background-color: #343434;
	color: #fff;
}
/* 子要素(アイテム) */
.flex-item-small {
	background-color: #343434;
	color: #fff;
}


/* Reaction-Button
----------------------------------------------- */
.user-reaction-box{
  /* padding-top: 0px; */
  text-align: center;
  font-size: 0.5em;
  font-family: Arial;
  /* visibility: hidden; */
  /* height: 0px; */
  /* z-index: 2; */
}

/* #user-reaction {
  padding-top: 300px;
}
*/

.user-reaction-box ul{
  margin: 0 auto;
  width: 120px;
  list-style-type: none;
  /* text-align: center; */
}

.user-reaction-box ul li{
  /* display: inline-block; */
  text-align: center;
  width: 80px;
  border-radius: 20px;
  border: 1px solid;
  padding: 5px 0;
  margin: 19px 5px 10px;
  vertical-align: middle;
  background: rgba(254, 255, 255, 0.5);
  font-weight: bold;
  color:#777;
  cursor: pointer;
}

.user-reaction-box ul li:hover{
  background-color: rgba(187, 187, 187, 0.2);
}

/* Reaction-Popup
----------------------------------------------- */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: rgb(252, 249, 249);
  z-index: 2;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}

/* Canvas-Style
----------------------------------------------- */
#container{
  text-align: center;
}

.canvas-box{
  padding: 10px 0 23px;
}

.canvas-wrapper{
  /* padding-top: 200px; */
}

/* 
#bus-map{
  width: 100%;
} */


/* FOOTER
----------------------------------------------- */
.btn-box{
  text-align: center;
  display: flex;
  background-color: #32a9c2;
  padding: 15px 0;
  position: fixed; /* フッターを固定する */
  bottom: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  font-family: Arial;
}

.btn-container{
  margin: 0 auto;
}

.btn{
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 75px;
  height: 48px;
  /* width: 80px;
  height: 50px; */
  max-width: 100%;
  background: #ff5f76;
  border-radius: 100em;
  box-shadow: inset 0px 1px 1px 1px #d6d6d6, inset 0 -1px 1px 1px #ececec, inset 0 0 0px 2px #f5f5f5;
}

.btn-common::before{
  content: "";
  font-weight: bold;
  color: #5c5c5c;
  position: absolute;
  left: 5%;
  top: 10%;
  width: 50%;
  height: 80%;
  background: rgba(255, 255, 255);
  border-radius: 100%;
  box-shadow: -2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-left-right::before{
  content: "左";
}

.switch-holiday-weekday::before{
  content: "休";
}

.on , .weekday{
  background: #32a9c2;
  /* box-shadow: unset; */
}
.on::before{
  content: "右";
  margin-left: 40%;
  box-shadow: 2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
}

.weekday::before{
  content: "平";
  margin-left: 40%;
  box-shadow: 2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
}


/* バス停変更ボタン
----------------------------------------------- */
.btn2{
  font-weight: bold;
  font-size: small;
  background-color: #32a9c2;
}

.btn2::before{
  content: "";
  position: absolute;
  left: 10%;
  top: 15%;
  font-weight: bold;
  color: #383838;
}

/* .change-bus-stop::before{
  margin-left: 11%;
  margin-top: 8%;
  font-size: 15px;
  content: "バス停";
  color: #fff;
} */

.change-bus::before{
  content: "バス変更";
  font-size: 15px;
  margin-top: 8%;
  /* left: 27.8%; */
  color: #fff;
}

.on-stop, .on-bus{
  background-color:#ff5f76;
  color: #000000;
}

/* バス変更ボタン
----------------------------------------------- */

/* リアクションボタン
----------------------------------------------- */
.reaction::before{
  content: "遅れ報告";
  font-size: 15px;
  margin-top: 8%;
  /* left: 27.8%; */
  color: #fff;
}


/* 説明文
----------------------------------------------- */
#explanation{
  display: flex;
  align-items: center;
  justify-content: center;
}
.explanation-wrapp {
  font-family: Arial;
  font-size: small;
  color: #777;
}
.explanation {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.logo-pos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-size {
  width: 42%;
  /* padding-bottom: 30%; */
  padding-bottom: 1px;
}

.box7{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #777;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #32a9c2;/*左線*/
  border-right: double 7px #32a9c2;/*右線*/
}
.box7 p {
  margin: 0; 
  padding: 0;
}
/* 説明文
----------------------------------------------- */

/* つくばセンター発の時刻表
----------------------------------------------- */
/* .time-tables {
  visibility: hidden;
  height: 0px;
} */

.time-title {
  font-family: Arial;
  text-align: center;
  color: #32a9c2;
}

.table-wrapp {
  font-family: Arial;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  color: #666;
}
@media(min-width:751px){
  .table-flex-container {
    /* background-color: #dfdfdf;*/
    padding: 3% 10%;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
}
@media(max-width:750px){
 
}
/*テーブル全体*/
table {
  display: flex;
  align-items: center;
  justify-content: center;     /* テーブル全体を中央寄せ */
  /* width: 800px;              テーブルの幅を指定 */
  text-align: center;        /* セルを中央寄せ */
  border-collapse: collapse; /* セルの境界線を空けない */
 
}

td,th {
  border: 2px solid #32a9c2;   /*セル内の線*/
  padding: 0.3em 0.5em;
}

.row-head {
	border-bottom: 2px solid #32a9c2;
	background-color: whitesmoke;
}

/* つくばセンター発時刻表
----------------------------------------------- */

/* ロゴ
----------------------------------------------- */
.logo-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width:751px){
  .big_logo_size {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 100px;
  }
}
@media(max-width:750px){
  .big_logo_size {
    width: 60%;
    /* padding-bottom: 30%; */
    padding-top: 30px;
    padding-bottom: 100px;
  }
}


/* ロゴ
----------------------------------------------- */

/* デスクトップ用
----------------------------------------------- */
/* @media (min-width: 500px) {
  #bus-map{
    width: 500px;
  }
} */

@media (min-width: 600px){
  .user-reaction-box ul li{
    width: 100px;
    margin: 10px;
    padding: 10px 0;
    font-size: 1em;
  }

  .page-header{
    padding: 40px 20% 15px;
  }

  .canvas-box{
    padding-top: 20px;
  }
}