/* Common
----------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* HEADER
----------------------------------------------- */
.wrapper{
  /* max-width: 1100px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 0 4%; */
}

.page-header{
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: rgba(96, 153, 240, 0.664);
  position:fixed;
}


/* Reaction-Button
----------------------------------------------- */
.user-reaction-box{
  padding-top: 102px;
  text-align: center;
  font-size: 0.5em;
}

.user-reaction-box ul{
  list-style-type: none;
  /* text-align: center; */
}

.user-reaction-box ul li{
  display: inline-block;
  text-align: center;
  width: 80px;
  border-radius: 20px;
  border: 1px solid;
  padding: 5px 0;
  margin: 10px 5px;
  vertical-align: middle;
  background: rgba(254, 255, 255, 0.5);
  font-weight: bold;
  color:rgb(7, 7, 7);
  cursor: pointer;
}

.user-reaction-box ul li:hover{
  background-color: rgba(187, 187, 187, 0.2);
}

/* Canvas-Style
----------------------------------------------- */
#container{
  text-align: center;
}

#bus-map{
  width: 100%;
}


/* FOOTER
----------------------------------------------- */
.btn-box{
  text-align: center;
  display: flex;
  background-color: rgba(96, 153, 240, 0.664);
  padding: 10px 0;
  position: fixed; /* フッターを固定する */
  bottom: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
}

.btn-container{
  margin: 0 auto;
}

.btn{
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 30px;
  max-width: 100%;
  background: rgb(247, 186, 186);
  border-radius: 100em;
  box-shadow: inset 0px 1px 1px 1px #d6d6d6, inset 0 -1px 1px 1px #ececec, inset 0 0 0px 2px #f5f5f5;
}

.btn-common::before{
  content: "";
  font-weight: bold;
  color: #5c5c5c;
  display: block;
  position: absolute;
  left: 5%;
  top: 10%;
  width: 50%;
  height: 80%;
  background: rgba(255, 255, 255);
  border-radius: 100%;
  box-shadow: -2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
  transition: all 0.2s;
}

.switch-left-right::before{
  content: "左";
}

.switch-holiday-weekday::before{
  content: "休";
}

.on , .weekday{
  background: #9fc9f0;
  /* box-shadow: unset; */
}
.on::before{
  content: "右";
  margin-left: 40%;
  box-shadow: 2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
}

.weekday::before{
  content: "平";
  margin-left: 40%;
  box-shadow: 2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
}


/* バス停変更ボタン
----------------------------------------------- */
.btn2{
  font-weight: bold;
  font-size: small;
  background-color: rgb(159, 201, 240);
}

.btn2::before{
  content: "";
  position: absolute;
  left: 10%;
  top: 15%;
  font-weight: bold;
  color: #383838;
}

.change-bus-stop::before{
  content: "バス停";
}

.change-bus::before{
  content: "バス";
  left: 25%;
}

.on-stop, .on-bus{
  background-color: rgb(3, 221, 250);
  color: #000000;
}

/* バス変更ボタン
----------------------------------------------- */



/* デスクトップ用
----------------------------------------------- */
@media (min-width: 500px) {
  #bus-map{
    width: 450px;
  }
}

@media (min-width: 600px){
  .user-reaction-box ul li{
    width: 100px;
    margin: 10px;
    padding: 10px 0;
    font-size: 1em;
  }
}